/*----------What we are doing----------*/
.doing-list {
  padding-bottom: 94px;
  display: flex;
}
.doing-list-item {
  width: 370px;
  height: 294px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
