.portfolio {
  border-bottom: 1px solid #ececec;
}
.buttom-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.buttom-list-item:not(:last-child) {
  margin: 8px;
}